---
import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: 'website' | 'article';
  pubDate?: Date;
}

const { title, description, image, type, pubDate } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <SEO title={title} description={description} image={image} type={type} pubDate={pubDate} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
